/* src/components/Sessions.css */
h1 {
    color: #020202;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
  }
  
  strong {
    color: #333;
  }



  .card{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem; 
    gap: 0.5rem;
    margin-right: 0;
    border: solid white;
  }

  .hover-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .hover-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
    background-color: #f8f9fa;
    border: solid rgb(126, 120, 120);
  }

  .right-sidebar {
    position: fixed;
    top: 0;
    right: 0px;
    width: 60px;
    height: 100%;
    background-color: #ecf0f3;
    border-left: 1px solid #ddd;
    padding: 2rem 1rem;
    padding-left: 0px;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.05);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /*transition: all 0.3s ease; /* adăugăm tranziție aici */
   padding-bottom: 0;
  }
  
  .right-sidebar .nav-link {
    margin-bottom: 0.5rem;
    margin-right:50px;
    font-weight: 500;
    color: #333;
    /*transition: right 1s;*/
  }
  
  .right-sidebar .nav-link:hover {
    color: #737b80;
    transform: translateX(-5px);
  }
  
  #chat-icon {
    cursor: pointer;
}

  #chat-icon {
    position: relative;
    cursor: pointer;

    margin-bottom: 19px;  
}


.chat-section {
    position: fixed;
    top: 0;
    right: -100%; /* Secțiunea este ascunsă inițial */
    width: min(calc(100% - 60px), 600px); /* Ocupă jumătate din lățimea ecranului */
    height: 100%;
    margin-right: 0px;
    background-color: rgba(3, 3, 3, 0.05);
    /*box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);*/
    backdrop-filter: blur(10px);
    opacity: 0;
    overflow-y: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1;
    /*transition: right 0s ease, opacity 0.5s ease; Animația de deplasare */
}

.chat-section.open {
    right: 0;  /*Când secțiunea este deschisă, se va deplasa la 0 */
    opacity: 1;
z-index:0;
}

.chat-content {
    /* Stiluri pentru conținutul din interiorul secțiunii */
    padding: 10px;
}

.chat-content h2 {
    margin-top: 0;
}

.chat-content svg {
    position: absolute;
    bottom: 70px; /* Plasează iconul la 20px de jos */
    right: 70px;  /* Plasează iconul la 20px de dreapta */
    cursor: pointer; /* Schimbă cursorul pentru interactivitate */
}

.chat-content svg:hover {
    color: red; /* Poți adăuga o schimbare de culoare la hover pentru un efect vizual */
}

/* Ascunde sidebar-ul când chatul este deschis */
/*.hide.right-sidebar {
    display: none !important;
}*/

.right-sidebar.shifted {
    right: min(calc(100% - 60px), 600px); /* Se mută cu 50% spre stânga când chatul se deschide */
    z-index:9999;
  }


.searchbar {
    display: flex;
    outline: black;
    height: 60px;
    width: calc(100vw - 120px);
    border-radius: 100px;
    border: solid 2px rgb(206, 199, 199);
    size: 40px;
}
.searchbar:hover{
    border: solid 2px black;
}

.pfp {
    height: 60px;
    width: 60px;
    border-radius: 100px;
    border: solid 2px rgb(206, 199, 199);
    background-color: white;
}
.pfp:hover{
    border: solid 2px black;
}

.pfp2 {
    height: 60px;
    width: 60px;
    border-radius: 100px;
    border: solid 2px rgb(206, 199, 199);
    background-color: white;
    margin-left: calc(100% - 52px);
}
.pfp2:hover{
    border: solid 2px black;
}

.top {
    display: flex;
    gap: 2px;
    padding-top: 10px;
}

.searchin {
    margin-left: 20px;
    display: flex;
    margin-right: 30px;
    margin-bottom: 10px;
}
.searchin:focus {
    border-radius: 100px;
    border: hidden;
    margin-right: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.chatin{
    margin-left: 20px;
    display: flex;
    margin-right: 30px;
    margin-bottom: 10px;
}

.chatin:focus{
    border-radius: 100px;
    border: hidden;
    margin-right: 30px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.chatbar {
    display: flex;
    height: 60px;
    width: calc(98% - 65px);
    border-radius: 100px;
    border: solid 2px rgb(206, 199, 199);
    position: fixed;
    bottom: 20px;    
    margin-right: 40px; 
    left: 0;
    gap:8px;
    padding: 0 20px;      
    background-color: white; 
    margin-left: 10px;
    z-index: 1000;        
  }

.chatbar:hover {
    border: solid 2px black;

}
.inputbar {
    display: flex;
    height: 60px;
    width: calc(98% - 65px);
    border-radius: 100px;
    border: solid 2px rgb(206, 199, 199);
    margin-right: 40px;
    left: 0;
    gap:8px;
    padding: 0 20px;      
    background-color: white; 
    margin-left: 30px;
    z-index: 1000;        
  }

.inputbar:hover {
    border: solid 2px black;

}
  
.course{
    border: hidden;
    text-align: left;
    margin-right: 25px;
    height: 500px;
    overflow-y: scroll;
    width: calc(100% - 60px);
}

.hover-course{
    margin-top: 40px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.hover-course:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
    background-color: #f8f9fa;
    border: hidden;
  }

.h1-course{
    text-align: left;
    margin-left: 30px;
    padding-left: 20px;
}

.icon-course{
    margin-right: 20px;
}

.next-button{
    background-color: #aaaaaa;
    border:hidden;
}

.next-button:hover{
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(238, 237, 237, 0.15);
    border:hidden;
}

.send-btn {
    background-color: #007bff;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar {
    display: flex;
    height: 60px;
    width: 98%;

    position: fixed;
    bottom: 20px;    

    left: 0;
    gap:8px;

    z-index: 1000; 
}

.pop {
  position: absolute;
  width: 400px;
  height: 300px;
  margin-right: 0px;
  background-color: rgba(3, 3, 3, 0.05);
  backdrop-filter: blur(10px);
  left: calc(50% - 200px);
  top: calc(50% - 150px); 
  overflow-y: auto;
  padding: 20px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  z-index: 999;
}
.pop.hide {
	left:300%;
}

.chat-message-received {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 10px 0;
    padding: 12px 20px;
    border-radius: 30px;
    background-color: #ffffff;
    left: 0;
    font-size: 16px;
    position: relative;
    word-break: break-word;
    align-self: flex-start;
    size: 5px;
}

.chat-message-sent {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 10px 0;
    padding: 12px 20px;
    border-radius: 30px;
    background-color: #ffffff;
    font-size: 16px;
    position: relative;
    word-break: break-word;
    align-self: flex-end;
}

.chat-content {
    display: flex;
    flex-direction: column-reverse;
    overflow-y:scroll;
    height: calc(100vh - 70px); /* ajustează înălțimea după layout-ul tău */
    padding: 10px 10px;
}
.align {
    text-align: start;
    margin-bottom: 0px;
}
